name: Deploy to staging server

on:
  push:
    branches:
      - main
      
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Get latest Code
        uses: actions/checkout@v4

      - name: Setup PHP with composer v2
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          tools: composer:v2
        
      - name: Install Laravel Dependencies
        run: composer install
      - name: Directory Permissions
        run: chmod -R 777 storage bootstrap/cache

      - name: Upload to server
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: /home/bmcsalnj/api.bmcsaki.org
          REMOTE_PORT: ${{ secrets.SSH_REMOTE_PORT }}
      
      - name: Post install
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          port: ${{ secrets.SSH_REMOTE_PORT }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/bmcsalnj/api.bmcsaki.org
            export PATH=/opt/cpanel/ea-php82/root/usr/bin/:$PATH
            composer install
