name: Deploy Laravel via SSH

on:
  push:
    branches:
      - ejigbo

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, intl, gd, pdo_mysql, bcmath, xml, curl, zip
          tools: composer
          coverage: none

      - name: Install dependencies
        run: |
          composer install --no-dev --prefer-dist --no-interaction --optimize-autoloader

      - name: Prepare deployment package
        run: |
         rsync -avz --delete \
              --exclude='.git' \
              --exclude='.github' \
              --exclude='node_modules' \
              --exclude='.env' \
              ./ ${{ secrets.REMOTE_USER }}@${{ secrets.REMOTE_HOST }}:${{ secrets.EJIGBO_DEPLOYMENT_PATH }}

      - name: Upload package via SCP
        uses: appleboy/scp-action@v0.1.3
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "deployment.tar.gz"
          target: "${{ secrets.DEPLOY_PATH }}"

      - name: Deploy on server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ${{ secrets.DEPLOY_PATH }}
            tar -xzf deployment.tar.gz
            rm deployment.tar.gz

            # Ensure permissions
            chmod -R 775 storage bootstrap/cache

            # Laravel optimizations
            php artisan config:cache
            php artisan route:cache
            php artisan view:cache
